<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/reset.css">
    <title>Durchläufe</title>
</head>

<body>
    <header>
        <h1>FLA-Timer</h1>
        <h2><a href="/bewerbe">Bewerbsübersicht</a></h2>
        <h1>Durchläufe</h1>
    </header>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nr.</th>
                    <th>Feuerwehr</th>
                    <th>Gruppenname</th>
                    <th>Bewerbsbahn</th>
                    <th>Zeit</th>
                    <th>Fehler-Ges.</th>
                    <th>Punkte</th>
                </tr>
            </thead>
            <tbody>
                <% let counter=1; %>
                    <% durchlaufe.forEach(durchlauf=> { %>
                        <tr>
                            <td>
                                <button data-index="<%= durchlauf.id_dur %>" type="button"
                                    class="delete-durchlauf">X</button>
                            </td>
                            <td>
                                <%= counter %>
                            </td>
                            <td>
                                <%= durchlauf.gru_feuerwehr %>
                            </td>
                            <td>
                                <%= durchlauf.gru_name %>
                            </td>
                            <td>
                                <%= durchlauf.dur_bewerbsbahn %>
                            </td>
                            <td>
                                <%= durchlauf.dur_zeit %>
                            </td>
                            <td>
                                <%= durchlauf['dur_fehler-gesamt'] %>
                            </td>
                            <td>
                                <%= durchlauf.dur_punkte %>
                            </td>
                            <td>
                                <% if (!durchlauf.gru_is_deleted) { %>
                                    <a href="/bewerbe/<%= bew_id %>/durchlaufe/<%= durchlauf.id_dur %>">Starten --></a>
                                <% } else { %>
                                    <p>Gruppe archiviert</p>
                                <% } %>
                            </td>
                        </tr>
                        <% counter++; %>
                            <% }); %>
            </tbody>

        </table>

        <button id="toggleFormBtn">Durchlauf erstellen</button>
        <div id="durchlaufFormContainer" style="display: none;">
            <form id="durchlaufForm">
                <select id="gruppenname" name="gruppenname" required>
                    
                    <% gruppen.forEach(function(gruppe) { %>
                        <% if (!gruppe.gru_is_deleted) { %>
                        <option value="<%= gruppe.gru_name %>">
                            <%= gruppe.gru_feuerwehr %> - <%= gruppe.gru_name %>
                        </option>
                        <% } %>
                        <% }); %>
                        
                </select><br>
                <label for="bewerbsbahn">Bewerbsbahn:</label>
                <input type="text" id="bewerbsbahn" name="bewerbsbahn" required><br>
                <button type="submit">Durchlauf erstellen</button>
            </form>
        </div>


        <div class="bewerbDetails">
            <h2 class="bewerbDetails">Bewerbsdetails</h2>
            <ul>
                <li>
                    <%= formattedBewerb.bew_name%>
                </li>
                <li>
                    <%= formattedBewerb.bew_datum_formatted%>
                </li>
                <li>
                    Bewerbsart:
                    <%= formattedBewerb.bew_art%>
                </li>
                <li>
                    Wetter:
                    <%= formattedBewerb.bew_wetter%>
                </li>
            </ul>
        </div>

        <h2> <a href="/bewerbe/gruppen">Bestehende Gruppen</a></h2>
        <div class="scrollable-container">
            
            <% gruppen.forEach(gruppe=> { %>
                <% if (!gruppe.gru_is_deleted) { %>
                <div class="bewerb-container">
                    <p>
                        
                        <button data-index="<%=gruppe.id_gru%>" type="button" class="delete-gruppe">X</button>
                        <%= gruppe.gru_feuerwehr %>


                            <%= gruppe.gru_name %>

                                <a href="/bewerbe/gruppen/<%=gruppe.id_gru%>"> --></a>
                    </p>
                    <% } %>
                    <% }); %>
                   
                </div>
               
        </div>

        <button id="toggleGruppeBtn">Gruppe erstellen</button>
        <div id="gruppenFormContainer" style="display: none;">
            <form id="gruppeForm">
                <label for="gru_feuerwehr">Gruppen Name:</label>
                <input type="text" id="gru_feuerwehr" name="gru_feuerwehr" required><br>
                <label for="gru_name">Gruppenname</label>
                <input type="text" id="gru_name" name="gru_name" required><br>

                <button type="submit">Gruppe erstellen</button>
            </form>
        </div>


        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const tbody = document.querySelector("tbody");

                if (tbody.innerHTML.trim() === "") {

                    alert("Noch keine Durchläufe vorhanden. Bitte füge welche hinzu.");
                }
            });

            document.querySelectorAll('.delete-durchlauf').forEach(button => {
                button.addEventListener('click', function (event) {
                    if (confirm('Are you sure you want to delete this Durchlauf?')) {
                        const durchlaufId = event.target.dataset.index;
                        const url = `/bewerbe/<%= bew_id %>/durchlaufe/${durchlaufId}/delete`;
                        fetch(url, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                            .then(response => {
                                if (response.ok) {
                                    console.log('Durchlauf deleted successfully');
                                    window.location.reload();
                                } else {
                                    console.error('Failed to delete Durchlauf');
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                // Handle network error
                            });
                    }
                });
            });


            document.querySelectorAll('.delete-gruppe').forEach(button => {
                button.addEventListener('click', function (event) {
                    if (confirm('Are you sure you want to delete this group?')) {
                        const gruppeId = event.target.dataset.index;
                        const url = `/bewerbe/<%= bew_id %>/gruppen/${gruppeId}/delete`;
                        fetch(url, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({
                                gruppeId
                            })
                        })
                            .then(response => {
                                if (response.ok) {
                                    console.log('Gruppe deleted successfully');
                                    window.location.reload();
                                } else {
                                    console.error('Failed to delete Gruppe');
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                // Handle network error
                            });
                    }
                });
            });






            document.getElementById('durchlaufForm').addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent default form submission
                console.log("Durchlauf submitted")
                // Get selected group and bewerbsbahn
                const gruppenname = document.getElementById('gruppenname').value;
                const bewerbsbahn = document.getElementById('bewerbsbahn').value;

                // Construct the URL
                const url = `/bewerbe/<%= bew_id %>/durchlaufe/erstellt`;

                // Construct the request body
                const body = JSON.stringify({ gruppenname, bewerbsbahn });

                // Make the POST request
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: body
                })
                    .then(response => {
                        if (response.ok) {
                            console.log('Durchlauf started successfully');
                            window.location.reload();
                        } else {
                            console.error('Failed to start Durchlauf');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        // Handle network error
                    });
            });
            document.getElementById('gruppeForm').addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent default form submission
                console.log("Gruppe submitted")
                // Get selected group and bewerbsbahn
                const gru_feuerwehr = document.getElementById('gru_feuerwehr').value;
                const gru_name = document.getElementById('gru_name').value;


                // Construct the URL
                const url = `/bewerbe/<%= bew_id %>/gruppen/erstellt`;

                // Construct the request body
                const body = JSON.stringify({ gru_feuerwehr, gru_name });

                // Make the POST request
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: body
                })
                    .then(response => {
                        if (response.ok) {
                            console.log('Gruppe created successfully');
                            window.location.reload();
                        } else {
                            console.error('Failed to create Gruppe');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        // Handle network error
                    });
            }
            );
            document.getElementById("toggleFormBtn").addEventListener("click", function () {
                const formContainer = document.getElementById("durchlaufFormContainer");
                if (formContainer.style.display === "none") {
                    formContainer.style.display = "block";
                } else {
                    formContainer.style.display = "none";
                }
            });
            document.getElementById("toggleGruppeBtn").addEventListener("click", function () {
                const formContainer = document.getElementById("gruppenFormContainer");
                if (formContainer.style.display === "none") {
                    formContainer.style.display = "block";
                } else {
                    formContainer.style.display = "none";
                }
            });

        </script>
    </div>
    <footer>
        <p>2024 Thomas & Nomo</p>
    </footer>
</body>

</html>