<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/reset.css">
    <title>Gruppen Details</title>

</head>

<body>
    <header>
        <h1>FLA-Timer</h1>
        <h2><a href="/bewerbe">Bewerbsübersicht</a></h2>
        <h1>Gruppenmitglieder</h1>
    </header>


    <div class="scrollable-container">
        <table>
            <thead>
                <tr>
                    <th>#</th> <!-- Additional column for incrementing counter -->
                    <th>Name</th>
                    <th>Nachname</th>
                    <th>Geschlecht</th>
                    <th>Funktion</th>
                    <th>Dienstgrad</th>
                </tr>
            </thead>
            <tbody>
                <% let counter = 1; %> <!-- Initialize counter variable -->
                <% mitglieder.forEach(mitglied => { %>
                    <tr>
                        <td><%= counter %></td> <!-- Display counter value -->
                        <td><%= mitglied.mit_name %></td>
                        <td><%= mitglied.mit_nachname %></td>
                        <td><%= mitglied.mit_geschlecht %></td>
                        <td><%= mitglied.mit_funktion %></td>
                        <td><%= mitglied.mit_dienstgrad %></td>
                    </tr>
                    <% counter++; %> <!-- Increment counter for next iteration -->
                <% }); %>
            </tbody>
        </table>
        

    <footer>
        <p>2024 Thomas & Nomo</p>
    </footer>
</body>