<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/reset.css">
    <title>All Notes</title>
</head>

<body>
    <header>
        <h1>FLA-Timer</h1>
        <h2><a href="/bewerbe">Bewerbs체bersicht</a></h2>
        <h1>Durchl채ufe</h1>
    </header>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Feuerwehr</th>
                    <th>Gruppenname</th>
                    <th>Bewerbsbahn</th>
                    <th>Zeit</th>
                    <th>Fehler-Ges.</th>
                    <th>Punkte</th>
                </tr>
            </thead>
            <tbody>
                <% durchlaufe.forEach(durchlauf=> { %>
                    <tr>
                        <td>
                            <%= durchlauf.gru_feuerwehr %>
                        </td>
                        <td>
                            <%= durchlauf.gru_name %>
                        </td>
                        <td>
                            <%=durchlauf.dur_bewerbsbahn %>
                        </td>
                        <td>
                            <%= durchlauf.dur_zeit%>
                        </td>
                        <td>
                            <%= durchlauf['dur_fehler-gesamt'] %>
                        </td>
                        <td>
                            <%= durchlauf.dur_punkte%>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

        <div class="bewerbDetails">
            <h2 class="bewerbDetails">Bewerbsdetails</h2>
            <ul>
                <li>
                    <%= formattedBewerb.bew_name%>
                </li>
                <li>
                    <%= formattedBewerb.bew_datum_formatted%>
                </li>
                <li>
                    Bewerbsart:
                    <%= formattedBewerb.bew_art%>
                </li>
                <li>
                    Wetter:
                    <%= formattedBewerb.bew_wetter%>
                </li>
            </ul>
        </div>
        <h2>Teilnehmende Gruppen</h2>
        <div class="scrollable-container">
            <% gruppen.forEach(gruppe=> { %>
                <div class="bewerb-container">
                    <p>
                        <%= gruppe.gru_feuerwehr %>
    
    
                            <%= gruppe.gru_name %>
    
                                <a href="/bewerbe/gruppen/<%=gruppe.id_gru%>"> --></a>
                    </p>
                    <% }); %>
                </div>
        </div>
        <div class="formhs">
            <form id="gruppeForm" method="post">
                <label for="gru_feuerwehr">Feuerwehr:</label>
                <input type="text" id="gru_feuerwehr" name="gru_feuerwehr" required><br>
                <label for="gru_name">Gruppenname:</label>
                <input type="text" id="gru_name" name="gru_name" required><br>
                <label for="gru_alterspunkte">Gruppen-Alterspunkte:</label>
                <input type="number" id="gru_alterspunkte" name="gru_alterspunkte" required>
                <button type="submit" >Gruppe erstellen</button>
            </form>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const tbody = document.querySelector("tbody");

                if (tbody.innerHTML.trim() === "") {

                    alert("Noch keine Durchl채ufe vorhanden. Bitte f체ge welche hinzu.");
                }
            });

            document.getElementById("bewerbForm").addEventListener("submit", async (event) => {
            event.preventDefault(); // Prevent default form submission behavior

            const formData = new FormData(document.getElementById("bewerbForm"));

            const bewerbData = {};
            for (const [key, value] of formData.entries()) {
                bewerbData[key] = value;
            }

            try {
                const response = await fetch("/bewerbe/gruppen", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json" // Set Content-Type to JSON
                    },
                    body: JSON.stringify(bewerbData) // Serialize form data as JSON
                });
                if (response.ok) {
                    alert("Bewerb erstellt");
                    window.location.reload();
                }
                else {
                    alert("Fehler beim Erstellen des Bewerbs");
                }
            } catch (error) {
                console.error('fetch /bewerb error:', error);
            }
        });
        </script>
    </div>
    <footer>
        <p>2024 Thomas & Nomo</p>
    </footer>
</body>

</html>