<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/reset.css">
    <title>All Notes</title>
</head>

<body>
    <header>
        <h1>FLA-Timer</h1>
        <h2><a href="/bewerbe">Bewerbs체bersicht</a></h2>
        <h1>Durchl채ufe</h1>
    </header>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Feuerwehr</th>
                    <th>Gruppenname</th>
                    <th>Bewerbsbahn</th>
                    <th>Zeit</th>
                    <th>Fehler-Ges.</th>
                    <th>Punkte</th>
                </tr>
            </thead>
            <tbody>
                <% durchlaufe.forEach(durchlauf=> { %>
                    <tr>
                        <td>
                            <%= durchlauf.gru_feuerwehr %>
                        </td>
                        <td>
                            <%= durchlauf.gru_name %>
                        </td>
                        <td>
                            <%=durchlauf.dur_bewerbsbahn %>
                        </td>
                        <td>
                            <%= durchlauf.dur_zeit%>
                        </td>
                        <td>
                            <%= durchlauf['dur_fehler-gesamt'] %>
                        </td>
                        <td>
                            <%= durchlauf.dur_punkte%>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

        <div class="bewerbDetails">
            <h2 class="bewerbDetails">Bewerbsdetails</h2>
            <ul>
                <li>
                    <%= formattedBewerb.bew_name%>
                </li>
                <li>
                    <%= formattedBewerb.bew_datum_formatted%>
                </li>
                <li>
                    Bewerbsart:
                    <%= formattedBewerb.bew_art%>
                </li>
                <li>
                    Wetter:
                    <%= formattedBewerb.bew_wetter%>
                </li>
            </ul>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const tbody = document.querySelector("tbody");

                if (tbody.innerHTML.trim() === "") {

                    alert("Noch keine Durchl채ufe vorhanden. Bitte f체ge welche hinzu.");
                }
            });
        </script>
    </div>
    <footer>
        <p>2024 Thomas & Nomo</p>
    </footer>
</body>

</html>