<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/reset.css">
    <title>Durchlauf</title>
</head>

<body>


    
    <% if (mitglieder.length === 0) { %>
        <p>Keine Mitglieder in der Gruppe</p>
        <a href="/bewerbe/gruppen/<%= durchlaufgruppe.id_gru %>">Mitglieder hinzufügen</a>
    <% } else {%>
        <h1>Durchlauf der Gruppe <%= durchlaufgruppe.gru_name %>
        </h1>
        <a href="/bewerbe/gruppen/<%= durchlaufgruppe.id_gru %>">Mitglieder --></a>
        <form id="errorForm">
            <% fehler.forEach((fehlerItem, index) => { %>
                <label for="gruppenMitglied<%= index + 1 %>">
                    <%= fehlerItem.feh_name %> Fehler:
                </label>
                <select id="gruppenMitglied<%= index + 1 %>" name="gruppenMitglied<%= index + 1 %>">
                    <% mitglieder.forEach(mitglied => { %>
                        <option value="<%= mitglied.id_mit %>">
                            <%= mitglied.mit_name %>
                        </option>
                    <% }); %>
                </select>
                <button type="button" onclick="submitErrorAndMember('<%= fehlerItem.id_feh %>', document.getElementById('gruppenMitglied<%= index + 1 %>').value)">Submit</button>
                <br>
            <% }); %>
        </form>
        
        
            <ul>
                <% durchlauffehlerliste.forEach(durfehlerlist=> { %>
                    
                    <li>
                        <%= durfehlerlist.feh_name%>
                            <%=durfehlerlist.mit_name%>
                                <button data-index="<%=durfehlerlist['id_feh-li']%>" type="button"
                                    class="delete-button">X</button>
                    </li>
                    <% }); %>
            </ul>
            <h2>Error Counters</h2>
            <table>
                <thead>
                    <tr>
                        <th>Error Name</th>
                        <th>Error Count</th>
                    </tr>
                </thead>
                <tbody>
                    <% durchlauffehler.forEach(durfehler=> { %>
                        <% if (durfehler.error_count) { %>
                            <tr>
                                <td>
                                    <%= durfehler.feh_name %>
                                </td>
                                <td>
                                    <span id="errorCount<%= durfehler['feh_name'] %>">
                                        <%= durfehler.error_count %>
                                    </span>
                                </td>
                            </tr>
                            <% } else {%>
                                <tr>
                                    <td>
                                        <%= durfehler.feh_name %>
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <% } %>
                                <% }); %>
                        
                </tbody>
            </table>
        
        
            <%let totalCount = 0;
                durchlauffehler.forEach(durfehler=> {
                // Add current category count to total count
                totalCount += durfehler.error_count;
                });
                %>
                <div>Gesamte Fehler: <%= totalCount %>
                </div>
        
                <% let totalErrorSum=0; %>
                    <% durchlauffehler.forEach(durfehler=> { %>
                        <% totalErrorSum +=durfehler.total_error_value; %>
                            <% }); %>
        
                                <div>Gesamt-Fehlerpunkte: <%= totalErrorSum %>
                                </div>
        
        
                                <button id="completeDurchlauf" type="button" class="durchlauf-beendet">Durchlauf beenden</button>
                                <input type="hidden" id="totalCount" value="<%= totalCount %>">
                                <input type="hidden" id="totalErrorSum" value="<%= totalErrorSum %>">
                                <div>Alterspunkte: <%= alterspunkte%></div>
    <% } %>
    
    


                        
                        <script>




//complete Durchlauf
                            document.getElementById('completeDurchlauf').addEventListener('click', function () {
                                // Get the total error count and total sum from the page
                                const totalCount = document.getElementById('totalCount').value;
                                const totalErrorSum = document.getElementById('totalErrorSum').value;
                                const bewerbID = '<%=bew_id%>';
                                const durchlaufID = '<%=dur_id%>';
                                // Make a POST request to the server with the total error count and total sum
                                fetch(`/bewerbe/${bewerbID}/durchlaufe/${durchlaufID}/completeDurchlauf`, {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({
                                        dur_fehlergesamt: totalCount,
                                        dur_punkte: totalErrorSum
                                    })
                                })
                                    .then(response => {
                                        if (response.ok) {
                                            console.log('Total error count and total sum submitted successfully');
                                            window.location.href = `/bewerbe/${bewerbID}/durchlaufe`;
                                        } else {
                                            console.error('Failed to submit total error count and total sum');
                                        }
                                    })
                                    .catch(error => {
                                        console.error('Error:', error);
                                    });
                            });
                            document.querySelectorAll('.delete-button').forEach(button => {
                                button.addEventListener('click', function () {
                                    console.log('delete button clicked');
                                    const fehlerLinkId = event.target.dataset.index;
                                    const durchlaufID = '<%= dur_id %>';
                                    const bewerbID = '<%= bew_id %>';
                                    fetch(`/bewerbe/${bewerbID}/durchlaufe/${durchlaufID}/deletefehlerEintrag/${fehlerLinkId}`, {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify({ fehlerLinkId: fehlerLinkId })
                                    })
                                        .then(response => {
                                            if (response.ok) {
                                                console.log('Fehler link deleted successfully');
                                                window.location.reload();
                                                // You can add further actions here if needed
                                            } else {
                                                console.error('Failed to delete fehler link');
                                            }
                                        })
                                        .catch(error => {
                                            console.error('Error:', error);
                                        });
                                });
                            });

                            function submitErrorAndMember(fehlerId, gruppenMitgliedId) {
                                const fehler = fehlerId;
                                const gruppenMitglied = gruppenMitgliedId;
                                const durchlaufID = '<%= dur_id %>';
                                const bewerbID = '<%= bew_id %>';
                                fetch(`/bewerbe/${bewerbID}/durchlaufe/${durchlaufID}/fehlerEintrag`, {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({
                                        fehlerId: fehler,
                                        mitgliedId: gruppenMitglied
                                    })
                                })
                                    .then(response => {
                                        if (response.ok) {
                                            console.log('Error submitted successfully');
                                            window.location.reload();
                                            // You can add further actions here if needed
                                        } else {
                                            console.error('Failed to submit error');
                                        }
                                    })
                                    .catch(error => {
                                        console.error('Error:', error);
                                    });
                                addErrorEntry(document.getElementById(`gruppenMitglied${index + 1}`).value, fehlerName);
                            }


                        </script>

</body>

</html>