<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/reset.css">
    <title>Durchläufe</title>
</head>

<body>
    <header>
        <h1>FLA-Timer</h1>
        <h2><a href="/bewerbe">Bewerbsübersicht</a></h2>
        <h1>Durchläufe</h1>
    </header>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Feuerwehr</th>
                    <th>Gruppenname</th>
                    <th>Bewerbsbahn</th>
                    <th>Zeit</th>
                    <th>Fehler-Ges.</th>
                    <th>Punkte</th>
                </tr>
            </thead>
            <tbody>
                <% durchlaufe.forEach(durchlauf=> { %>
                    <tr>
                        <td>
                            <%= durchlauf.gru_feuerwehr %>
                        </td>
                        <td>
                            <%= durchlauf.gru_name %>
                        </td>
                        <td>
                            <%=durchlauf.dur_bewerbsbahn %>
                        </td>
                        <td>
                            <%= durchlauf.dur_zeit%>
                        </td>
                        <td>
                            <%= durchlauf['dur_fehler-gesamt'] %>
                        </td>
                        <td>
                            <%= durchlauf.dur_punkte%>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>

        <button id="toggleFormBtn">Durchlauf erstellen</button>
        <div id="durchlaufFormContainer" style="display: none;">
            <form id="durchlaufForm">
                <select id="gruppenname" name="gruppenname" required>
                    <% gruppen.forEach(function(gruppe) { %>
                        <option value="<%= gruppe.gru_name %>"><%= gruppe.gru_feuerwehr %> - <%= gruppe.gru_name %></option>
                    <% }); %>
                </select><br>
                <label for="bewerbsbahn">Bewerbsbahn:</label>
                <input type="text" id="bewerbsbahn" name="bewerbsbahn" required><br>
                <label for="zeit">Zeit:</label>
                <input type="text" id="zeit" name="zeit" required><br>
                <label for="fehler">Fehler-Ges.:</label>
                <input type="text" id="fehler" name="fehler" required><br>
                <label for="punkte">Punkte:</label>
                <input type="text" id="punkte" name="punkte" required><br>
                <button type="submit">Durchlauf erstellen</button>
            </form>
        </div>
        

        <div class="bewerbDetails">
            <h2 class="bewerbDetails">Bewerbsdetails</h2>
            <ul>
                <li>
                    <%= formattedBewerb.bew_name%>
                </li>
                <li>
                    <%= formattedBewerb.bew_datum_formatted%>
                </li>
                <li>
                    Bewerbsart:
                    <%= formattedBewerb.bew_art%>
                </li>
                <li>
                    Wetter:
                    <%= formattedBewerb.bew_wetter%>
                </li>
            </ul>
        </div>

        <h2>Teilnehmende Gruppen</h2>
        <div class="scrollable-container">
            <% gruppen.forEach(gruppe=> { %>
                <div class="bewerb-container">
                    <p>
                        <%= gruppe.gru_feuerwehr %>


                            <%= gruppe.gru_name %>

                                <a href="/bewerbe/gruppen/<%=gruppe.id_gru%>"> --></a>
                    </p>
                    <% }); %>
                </div>
        </div>

        


        <div class="formhs">
            <form id="gruppenForm" method="post">
                <label for="gru_feuerwehr">Feuerwehr:</label>
                <input type="text" id="gru_feuerwehr" name="gru_feuerwehr" required><br>
                <label for="gru_name">Gruppenname:</label>
                <input type="text" id="gru_name" name="gru_name" required><br>
                <label for="gru_alterspunkte">Gruppen-Alterspunkte:</label>
                <input type="number" id="gru_alterspunkte" name="gru_alterspunkte" required>
                <button type="submit">Gruppe erstellen</button>
            </form>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const tbody = document.querySelector("tbody");

                if (tbody.innerHTML.trim() === "") {

                    alert("Noch keine Durchläufe vorhanden. Bitte füge welche hinzu.");
                }
            });

            document.getElementById("gruppenForm").addEventListener("submit", async (event) => {

                event.preventDefault(); // Prevent default form submission behavior
                console.log("gruppeSubmitted")

                const formData = new FormData(document.getElementById("gruppenForm"));

                const gruppenData = {};
                for (const [key, value] of formData.entries()) {
                    gruppenData[key] = value;
                }

                try {
                    const response = await fetch("/bewerbe/gruppen", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json" // Set Content-Type to JSON
                        },
                        body: JSON.stringify(gruppenData) // Serialize form data as JSON
                    });
                    if (response.ok) {
                        alert("gruppe erstellt");
                        window.location.reload();
                    }
                    else {
                        alert("Fehler beim Erstellen des Bewerbs");
                    }
                } catch (error) {
                    console.error('fetch /bewerb error:', error);
                }
            });



            document.getElementById("toggleFormBtn").addEventListener("click", function () {
                const formContainer = document.getElementById("durchlaufFormContainer");
                if (formContainer.style.display === "none") {
                    formContainer.style.display = "block";
                } else {
                    formContainer.style.display = "none";
                }
            });

            document.getElementById("durchlaufForm").addEventListener("submit", function (event) {
                event.preventDefault(); // Prevent default form submission behavior

                const formData = new FormData(document.getElementById("durchlaufForm"));

                const durchlaufData = {};
                formData.forEach((value, key) => {
                    durchlaufData[key] = value;
                });

                fetch("/bewerbe/durchlauf", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(durchlaufData)
                })
                    .then(response => {
                        if (response.ok) {
                            alert("Durchlauf erstellt erfolgreich");
                            window.location.reload(); // Refresh the page
                        } else {
                            throw new Error("Fehler beim Erstellen des Durchlaufs");
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        alert("Fehler beim Erstellen des Durchlaufs");
                    });
            });

        </script>
    </div>
    <footer>
        <p>2024 Thomas & Nomo</p>
    </footer>
</body>

</html>